* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#left {
 background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
 background-size: cover;
 width: 40%;
 min-height: 100%;
 text-align: center;
}

#odin-image {
    background: rgba(0, 0, 0, 0.4);
    height: 25%;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: white;
}

img {
    height: 180px;
}

#right {
    height: 100%;
    width: 70%;
    background: rgb(233, 231, 231);
}

#formDiv {
    background-color: white;
    margin-top: 270px;
    height: 350px;
    padding: 50px;
    box-shadow: 0px 8px 8px #c9c8c8;
}

a {
    color: white;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    color: white;
    text-align: left;
    margin-left: 50px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }